{% extends "FP_template.html" %}

###Include this link to the background image.
{% block image %}
<body background={{"http://chltvl.com/2016/03/Santiago-shutterstock-TR27.jpg"}}>


{% endblock %}

{% block form %}


<form action="{{ form_action }}"
      method="{{ form_method }}">

  {% if form_method == "post" %}
    {% csrf_token %}
  {% endif %}

  {{ form.as_p }}
</form>


<form >

<input type ="submit" value ="Home" >

</input>


</form>

{% endblock %}


{% block content %}

{{ table | safe}}

{% endblock %}
